@import "tailwindcss";

@media screen and (prefers-color-scheme: light) {
    :root {
        --foreground: #000000;
        --background: #fafafa;
        --midground: #919191;
    }
}

@layer theme {
    :root {
        --foreground: #ffffff;
        --background: #000000;
        --midground: #6f6f6f;
    }
}

@layer base {
    html,
    body {
        @apply h-full;
        font-family: "JetBrains Mono", monospace;
    }

    body {
        @apply m-0 flex flex-col;
        background-color: var(--background);
        color: var(--foreground);
    }

    main {
        @apply px-4 pt-4 max-w-5xl mb-auto;
    }

    article > section {
        @apply pb-4;
    }

    article > section > div {
        @apply pl-4;
    }

    ul {
        @apply list-none list-inside;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold tracking-tight uppercase;
    }

    a {
        @apply underline;
    }

    header {
        @apply flex px-4 pt-4 max-w-5xl;
    }

    header h1,
    footer h1 {
        @apply font-normal;
    }

    header > div:nth-child(2) {
        @apply grow text-center hidden sm:block;
    }

    header > div::nth-child(odd) {
        @apply flex-none;
    }

    header > div:last-child {
        @apply hidden sm:block;
    }

    footer {
        @apply flex px-4 pb-4 max-w-5xl text-sm;
    }

    footer h1 {
        @apply grow;
    }

    footer p {
        color: var(--midground);
    }
}
